<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/pedido.js"></script>
  </head>
  <body onmousedown="elemento(event);">
	<!-- barra de navegacion con bootstrap, estatica en la parte superior -->
  	<%- include('commons/nav-bar'); %>


	<!-- panel -->
	<br>
	<div class="panel panel-primary">
	 	<div class="panel-heading">
	    	<h3 class="panel-title">Registrar Pedido</h3>
	 	</div>
	 	<div class="panel-body">

			<form name="f2" id="f2" action="/registrar-pedido" method="get">
				<input type="hidden" name="txtTipoEntidad" id="txtTipoEntidad" value="<% if(vTipoEntidad > 0){ %><%= vTipoEntidad %><% } %>">
				<input type="hidden" name="txtEntidad" id="txtEntidad">
			</form>

			<form name="f1" action="regPedidoAdm" method="post">
			    <div class="form-group">
			    	<div class="row">
			    		<div class="col-sm-5"></div>
			    		<div class="col-sm-2">
			    			<input type="hidden" name="id_carta_x_fecha" id="id_carta_x_fecha" value="<%= fechaActual%>">
			    			<input type="text" class="form-control" name="vid_carta_x_fecha" id="vid_carta_x_fecha" value="<%= fechaActual%>" disabled>
			    		</div>
			    		<div class="col-sm-5"></div>
			    	</div>
			    </div>

				<% if(msj1 != ""){ %>
	 			<div class="alert alert-<%= msjTipo %>"><%= msj1 %></div>
	 			<% } %>

			    <div class="form-group">
			    	<div class="row">
				    	<div class="col-md-2">
				    		<label for="inputdefault">Tipo de Entidad:</label>
				    		
					    	<select class="form-control" name="lstTipoEntidad" id="lstTipoEntidad" onchange="document.getElementById('txtTipoEntidad').value = document.getElementById('lstTipoEntidad').value; document.getElementById('f2').submit()">
					    		<option value="0">Seleccione</option>
					    		<% registrosAllTipoEntidades.forEach(function(registro){ %>
					    		<option value="<%= registro.id_tipo_ent %>"<% if(vTipoEntidad == registro.id_tipo_ent){ %> selected<% } %>><%= registro.nombre_tipo_ent %></option>
					    		<% }) %>
					    	</select>
					    	
				    	</div>
				    	<div class="col-md-4">
				    		<label for="inputdefault">Empresas/Personas</label>
					    	<select class="form-control" name="lstEntidad" id="lstEntidad" onchange="document.getElementById('txtEntidad').value = document.getElementById('lstEntidad').value;">
					    		<option value="0">Seleccione</option>
					    		<% registrosFilEntidades.forEach(function(registro){ %>
					    		<option value="<%= registro.id_ent %>"><%= registro.nombre_ent %></option>
					    		<% }) %>
					    	</select>
				    	</div>
			    	</div>
			    </div>


				<% 
					if(msj2 != ""){
				%>
						<div class="alert alert-<%= msjTipo %>"><%= msj2 %></div>
				<%
					}
				%>

				
				<table class="table table-striped">

					<%
					var i = 0;
					var tipo = 0;
					
			    	registrosCartaDeHoy.forEach(function(registro){ 
			    	 
			    	i += 1;

			    	%>

					<% 
					if(tipo == 0 || tipo != registro.id_tipo_comida){
						tipo = registro.id_tipo_comida;
					%>

						<!-- para que haga una linea en blanco antes de imprimir un nuevo tipo de comida (los infaltables, ensaladas o postres) excepto la primera vez -->
						<% if(i > 1){ %>
						<tr>
							<td colspan="10">&nbsp;</td>
						</tr>
						<% } %>

						<tr>
							<td colspan="10">
								<div class="bg-primary" style="padding: 15px;"><%= registro.nombre_tipo_comida %></div>
							</td>
						</tr>
						
				    	<tr>
				    		<th>Plato</th>
				    		<th class="text-center" colspan="3">Gratis</th>
				    		<th class="text-center" colspan="3">Al Crédito</th>
				    		<th class="text-center" colspan="3">Al Contado</th>
				    	</tr>

			    	<%
					}
			    	%>

					<tr>
						<!--      GRATIS       -->
						<td width="300">
							<input type="hidden" name="id_alm_prog" id="hid_alm_prog<%= registro.id_alm_prog %>" value="<%= registro.id_alm_prog %>">
							<%= registro.nombre_alm_prog %>
						</td>
						<td>
							<input type="button" class="btn btn-default" name="ralm<%= i %>_1" id="ralm<%= i %>_1" value="-">
						</td>
						<td>
							<input type="hidden" name="hcantidad_pedido<%= registro.id_alm_prog %>" id="halm<%= i %>_1">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm<%= i %>_1" id="alm<%= i %>_1" size="1" disabled>
						</td>
						<td>
							<input type="button" class="btn btn-default" name="salm<%= i %>_1" id="salm<%= i %>_1" value="+"></td>
						</td>

						<!--      AL CREDITO       -->
						<td><input type="button" class="btn btn-default" name="ralm<%= i %>_2" id="ralm<%= i %>_2" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido<%= registro.id_alm_prog %>" id="halm<%= i %>_2">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm<%= i %>_2" id="alm<%= i %>_2" size="3" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm<%= i %>_2" id="salm<%= i %>_2" value="+"></td>


						<!--      AL CONTADO       -->
						<td><input type="button" class="btn btn-default" name="ralm<%= i %>_3" id="ralm<%= i %>_3" value="-"></td>
			    		<td>
			    			<input type="hidden" name="hcantidad_pedido<%= registro.id_alm_prog %>" id="halm<%= i %>_3">
			    			<input type="text" class="form-control" style="width: 50px !important;" name="alm<%= i %>_3" id="alm<%= i %>_3" size="3" disabled>
			    		</td>
			    		<td><input type="button" class="btn btn-default" name="salm<%= i %>_3" id="salm<%= i %>_3" value="+"></td>
					</tr>

			    	<% }) %>

				</table>

				<input type="button" class="btn btn-primary" onclick="document.f1.submit();" value="Grabar">
			</form>
		</div>
	</div>
	<!--fin panel-->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>