<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="javascripts/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <!-- barra de navegacion con bootstrap, estatica en la parte superior -->
    <%- include('commons/nav-bar'); %>

    <!--panel-->
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Registrar Almuerzo</h3>
      </div>

      <div class="panel-body">

        <% if(msj1 != ""){ %>
        <div class="alert alert-<%= msjTipo %>"><%= msj1 %></div>
        <% } %>

        <form name="f1" action="regAlmuerzoProgramado" method="post">
          <div class="form-group">
            <div class="row">
              <div class="col-xs-4">
                <label for="inputdefault">Nombre del Almuerzo:</label>
                <input type="text" name="nombre_alm_prog" id="nombre_alm_prog" class="form-control" value="<% if(nombreAlmuerzo != ''){ %><%= nombreAlmuerzo %><% } %>">
              </div>
              <div class="col-xs-4">
                <label for="inputdefault">En qué tipo se registrará?</label>
                <select name="lstid_tipo_comida" id="lstid_tipo_comida" class="form-control">
                  <option value="0">Seleccionar</option>
                  <% registrosAllTipoComida.forEach(function(registro){ %>
                  <option value="<%= registro.id_tipo_comida %>"><%= registro.nombre_tipo_comida %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>

          <input type="submit" class="btn btn-primary" value="Grabar">
        </form>

      </div>

    </div>
    <!--fin panel-->


  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>